Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check:server, test:server, deploy:server, check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

check:server:
  image: node:10-alpine
  tags:
  - docker
  before_script:
  ...

test:server:
  image: node:10-alpine
  tags:
  - docker
  before_script:
  ...

deploy:server:
  image: node:10-alpine
  tags:
  - docker
  before_script:
  ...

check:client:
  image: cirrusci/flutter:1.20.4
  tags:
  - docker
  before_script:
  ...

test:client:
  image: cirrusci/flutter:1.20.4
  tags:
  - docker
  before_script:
  ...

build:client:ios:
  image: cirrusci/flutter:1.20.4
  tags:
  - macos
  before_script:
  ...

predeploy:client:screenshots:
  image: cirrusci/flutter:1.20.4
  tags:
  - macos
  before_script:
  ...

predeploy:client:tag:
  image: cirrusci/flutter:1.20.4
  tags:
  - docker
  before_script:
  ...

deploy:client:ios:
  image: cirrusci/flutter:1.20.4
  tags:
  - macos
  before_script:
  ...

Fix use of needs/dependencies
  .gitlab-ci.yml
Due: none

Fix bash substitution
  .gitlab-ci.yml
Due: none

Quantity Card
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/meal_element/meal_element_event.dart
  client/lib/blocs/meal_element/meal_element_state.dart
  client/lib/models/quantity.dart
  client/lib/pages/meal_element_entry/meal_element_entry_page.dart
  client/lib/pages/meal_element_entry/widgets/amount_text_field.dart
  client/lib/pages/meal_element_entry/widgets/quantity_card.dart
  client/lib/pages/meal_element_entry/widgets/unit_dropdown.dart
  client/lib/pages/meal_element_entry/widgets/unit_text_field.dart
  client/lib/resources/firebase/remote_config_service.dart
  client/lib/widgets/cards/quantity_card.dart
  client/pubspec.lock
  client/test/blocs/meal_element_bloc_test.dart
  client/test/widgets/amount_text_field_test.dart
  client/test/widgets/quantity_card_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Scrub for valid measures from Edamam
  client/lib/main.dart
  client/lib/pages/search_delegate/pantry_search_delegate.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/test/blocs/bowel_movement_entry_bloc_test.dart
  client/test/blocs/change_password_bloc_test.dart
  client/test/blocs/diary_bloc_test.dart
  client/test/blocs/food_bloc_test.dart
  client/test/blocs/meal_element_bloc_test.dart
  client/test/blocs/meal_entry_bloc_test.dart
  client/test/blocs/pantry_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/blocs/symptom_entry_bloc_test.dart
  client/test/blocs/symptom_type_bloc_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/edamam_sample_data.dart
  server/.gitignore
Due: check:server, test:server, deploy:server, check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Add caching and codegen artifacts to CI/CD pipeline
  .gitlab-ci.yml
Due: none

Pantry release prep
  client/ios/fastlane/metadata/en-US/description.txt
  client/ios/fastlane/metadata/en-US/keywords.txt
  client/lib/pages/meal_element_entry/widgets/unit_dropdown.dart
  client/lib/resources/pantry_repository.dart
  client/lib/resources/symptom_type_repository.dart
  client/pubspec.yaml
  client/test/resources/symptom_type_repository_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Run client:tag job on macos
  .gitlab-ci.yml
Due: none

Export app version parameter
  .gitlab-ci.yml
Due: none

Report version in log
  .gitlab-ci.yml
Due: none

Try using single quotes on release fields
  .gitlab-ci.yml
Due: none

Fix client:tag job variable expansion
  .gitlab-ci.yml
Due: none

Fix version.env path in client:prep job
  .gitlab-ci.yml
Due: none

Append pipeline ID to staging releases
  .gitlab-ci.yml
Due: none

Fix missing bash semicolon
  .gitlab-ci.yml
Due: none

Fix missing bash fi statement
  .gitlab-ci.yml
Due: none

Distinguish pantry entries with same food ID
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/resources/diary_repositories/meal_element_repository.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/pantry_repository.dart
  client/lib/resources/searchable_repository.dart
  client/lib/routes/routes.dart
  client/lib/widgets/authenticated_resources.dart
  client/pubspec.yaml
  client/test/blocs/meal_element_bloc_test.dart
  client/test/resources/diary_repositories/meal_element_repository_test.dart
  client/test/resources/food/custom_food_repository_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/pantry_repository_test.dart
  server/README.md
  server/functions/src/pantry.js
  server/functions/test/pantry.test.js
Due: check:server, test:server, deploy:server, check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Native Edamam food model
  client/lib/models/edamam_api/edamam_api_entry.dart
  client/lib/models/edamam_api/edamam_api_food.dart
  client/lib/models/edamam_api/edamam_api_measure.dart
  client/lib/models/edamam_api/edamam_api_nutrients.dart
  client/lib/models/edamam_api/edamam_api_qualified_measure.dart
  client/lib/models/edamam_api/edamam_api_qualifier.dart
  client/lib/models/serializers.dart
  client/lib/pages/meal_element_entry/widgets/unit_dropdown.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/edamam_service.dart
  client/test/models/edamam_entry_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/edamam_sample_data.dart
  client/test/resources/food/edamam_service_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Check that mealElements exists
  client/lib/pages/meal_element_entry/widgets/meal_element_sensitivity_card.dart
  server/functions/src/pantry.js
Due: check:server, test:server, deploy:server, check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Update fastlane
  client/ios/Gemfile.lock
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Update fastlane plugins
  client/ios/Gemfile.lock
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Add App Store API key
  client/ios/fastlane/Fastfile
  client/ios/fastlane/app_store_connect_api_key.json
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Remove api key file
  client/ios/fastlane/app_store_connect_api_key.json
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Add api key generating lane
  client/ios/fastlane/Fastfile
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Force upload
  client/ios/fastlane/Fastfile
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Shorten subtitle
  client/ios/fastlane/metadata/en-US/subtitle.txt
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Exclude in app purchase in precheck
  client/ios/fastlane/Fastfile
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Sensitivity in food search
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_event.dart
  client/lib/models/food/custom_food.dart
  client/lib/models/food/edamam_food.dart
  client/lib/models/food/food.dart
  client/lib/pages/diary/widgets/diary_floating_action_button.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/pantry_entry/pantry_entry_page.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/search_delegate/widgets/food_search_result_tile.dart
  client/lib/pages/search_delegate/widgets/search_result_tile.dart
  client/lib/resources/diary_repositories/meal_element_repository.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/food_repository.dart
  client/lib/resources/pantry_repository.dart
  client/lib/resources/searchable_repository.dart
  client/lib/routes/routes.dart
  client/lib/widgets/authenticated_resources.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/blocs/meal_element_bloc_test.dart
  client/test/resources/diary_repositories/meal_element_repository_test.dart
  client/test/resources/food/custom_food_repository_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/food_repository_test.dart
  client/test/resources/pantry_repository_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Food details card
  client/assets/dot.png
  client/lib/models/edamam_api/edamam_api_entry.dart
  client/lib/models/edamam_api/edamam_api_food.dart
  client/lib/models/food/custom_food.dart
  client/lib/models/food/edamam_food.dart
  client/lib/models/food/food.dart
  client/lib/pages/diary/widgets/diary_floating_action_button.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/widgets/cards/expansion_card.dart
  client/lib/widgets/cards/food_details_card.dart
  client/lib/widgets/gl_icons.dart
  client/lib/widgets/list_tiles/gl_list_tile.dart
  client/lib/widgets/list_tiles/header_list_tile.dart
  client/lib/widgets/list_tiles/push_list_tile.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Correctly alphabetize high to low pantry sort
  client/lib/blocs/pantry_sort/pantry_sort_cubit.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Irritants
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_event.dart
  client/lib/blocs/pantry_entry/pantry_entry_state.dart
  client/lib/models/edamam_api/edamam_api_entry.dart
  client/lib/models/edamam_api/edamam_api_irritant.dart
  client/lib/models/food/custom_food.dart
  client/lib/models/food/edamam_food.dart
  client/lib/models/food/food.dart
  client/lib/models/food_reference/custom_food_reference.dart
  client/lib/models/food_reference/edamam_food_reference.dart
  client/lib/models/food_reference/food_reference.dart
  client/lib/models/irritant.dart
  client/lib/models/serializers.dart
  client/lib/pages/food/food_page.dart
  client/lib/pages/food/widgets/irritant_assessment.dart
  client/lib/pages/food/widgets/irritant_assessment_card.dart
  client/lib/pages/food/widgets/nutrition_card.dart
  client/lib/pages/food/widgets/overall_assessment_card.dart
  client/lib/pages/pantry_entry/pantry_entry_page.dart
  client/lib/pages/pantry_entry/widgets/pantry_entry_list_view.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/food_repository.dart
  client/lib/util/null_utils.dart
  client/lib/widgets/authenticated_resources.dart
  client/lib/widgets/cards/food_details_card.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/models/custom_food_reference_test.dart
  client/test/models/edamam_api_entry_test.dart
  client/test/models/edamam_food_reference_test.dart
  client/test/models/edamam_food_test.dart
  client/test/models/irritant_test.dart
  server/functions/src/food.js
  server/functions/src/irritants.json
  server/functions/test/food.test.js
Due: check:server, test:server, deploy:server, check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Fix cursor color
  client/lib/pages/search_delegate/searchable_search_delegate.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Fix modal theme
  client/lib/pages/diary/widgets/date_tile.dart
  client/lib/pages/diary/widgets/diary_entry_list_tile.dart
  client/lib/pages/diary/widgets/no_entries_tile.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_sensitivity_card.dart
  client/lib/pages/pantry/widgets/pantry_filter_widget.dart
  client/lib/pages/search_delegate/searchable_search_delegate.dart
  client/lib/pages/search_delegate/widgets/add_food_dialog.dart
  client/lib/pages/verify_email/widgets/verify_email_form.dart
  client/lib/style/gl_text_style.dart
  client/lib/style/gl_theme.dart
  client/lib/widgets/cards/expansion_card.dart
  client/lib/widgets/list_tiles/header_list_tile.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Add FoodService to abstract Edamam/custom food queries
  client/lib/blocs/food/food_bloc.dart
  client/lib/blocs/food/food_event.dart
  client/lib/blocs/food/food_state.dart
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/models/edamam_api/edamam_api_entry.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/food_repository.dart
  client/lib/resources/food/food_service.dart
  client/lib/widgets/authenticated_resources.dart
  client/test/blocs/food_bloc_test.dart
  client/test/blocs/meal_element_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/pages/food_search_delegate_test.dart
  client/test/pages/meal_entry_page_test.dart
  client/test/resources/food/custom_food_repository_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/food_repository_test.dart
  client/test/resources/food/food_service_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Update Flutter to 2.2.1 and dependencies
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/bin/screenshots/screenshots_driver.dart
  client/bin/screenshots_driver.dart
  client/ios/Podfile
  client/ios/Podfile.lock
  client/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  client/lib/resources/diary_repositories/diary_repository.dart
  client/lib/resources/firebase/firestore_service.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/pantry_repository.dart
  client/lib/resources/user_repository.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/blocs/account_bloc_test.dart
  client/test/blocs/authentication_bloc_test.dart
  client/test/blocs/bloc_helpers_test.dart
  client/test/blocs/bowel_movement_entry_bloc_test.dart
  client/test/blocs/change_password_bloc_test.dart
  client/test/blocs/diary_bloc_test.dart
  client/test/blocs/food_bloc_test.dart
  client/test/blocs/meal_element_bloc_test.dart
  client/test/blocs/meal_entry_bloc_test.dart
  client/test/blocs/pantry_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/blocs/reset_password_bloc_test.dart
  client/test/blocs/symptom_entry_bloc_test.dart
  client/test/blocs/symptom_type_bloc_test.dart
  client/test/resources/diary_repositories/bowel_movement_entry_repository_test.dart
  client/test/resources/diary_repositories/diary_repository_test.dart
  client/test/resources/diary_repositories/meal_element_repository_test.dart
  client/test/resources/diary_repositories/meal_entry_repository_test.dart
  client/test/resources/diary_repositories/symptom_entry_repository_test.dart
  client/test/resources/food/custom_food_repository_test.dart
  client/test/resources/pantry_repository_test.dart
  client/test/resources/user_repository_test.dart
Due: check:client, test:client, build:client:ios, predeploy:client:screenshots, predeploy:client:tag, deploy:client:ios

Path conditions:
  check:server: any of: server/**/*
  test:server: any of: server/**/*
  deploy:server: any of: server/**/*
  check:client: any of: client/**/*
  test:client: any of: client/**/*
  build:client:ios: any of: client/**/*
  predeploy:client:screenshots: any of: client/**/*
  predeploy:client:tag: any of: client/**/*
  deploy:client:ios: any of: client/**/*
