Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Path conditions:
  server:prep: any of: server/**/*
  server:lint: any of: server/**/*
  server:test: any of: server/**/*
  server:deploy: any of: server/**/*
  client:prep: any of: client/**/*
  client:lint: any of: client/**/*
  client:test: any of: client/**/*
  client:build:ios: any of: client/**/*
  client:screenshots: any of: client/**/*
  client:tag: any of: client/**/*
  client:deploy:ios: any of: client/**/*

Several UI bug fixes
  client/lib/models/edamam_api/edamam_api_entry.dart
  client/lib/pages/pantry/widgets/pantry_filter_widget.dart
  client/lib/pages/pantry/widgets/pantry_list_view.dart
  client/lib/widgets/cards/food_details_card.dart
  client/test/models/edamam_entry_test.dart
  client/test/resources/food/edamam_sample_data.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix unassigned field in VerifyEmailBloc
  client/lib/blocs/verify_email/verify_email_bloc.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Delete unused ValidationState enum, fix file names
  client/lib/input/input.dart
  client/lib/input/input_group.dart
  client/lib/input/input_types.dart
  client/lib/input/input_widgets.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Handle deleted foods
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/edamam_service.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/edamam_service_test.dart
  server/functions/src/food.js
  server/functions/test/food.test.js
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Refactor app config and top level dependency injection
  .gitlab-ci.yml
  client/bin/screenshots/screenshots_handler.dart
  client/ios/Podfile
  client/ios/Podfile.lock
  client/lib/main.dart
  client/lib/util/app_config.dart
  client/lib/util/device_utils.dart
  client/lib/util/version_utils.dart
  client/lib/widgets/app.dart
  client/lib/widgets/device_info_dialog.dart
  client/lib/widgets/flavor_banner.dart
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Remove fetch
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/food/food_service.dart
  client/lib/resources/pantry_service.dart
  client/lib/resources/searchable_repository.dart
  client/lib/resources/sensitivity/sensitivity_repository.dart
  client/lib/resources/symptom_type_repository.dart
  client/lib/resources/user_food_details_repository.dart
  client/test/blocs/account_bloc_test.dart
  client/test/blocs/authentication_bloc_test.dart
  client/test/blocs/bloc_helpers_test.dart
  client/test/blocs/bowel_movement_entry_bloc_test.dart
  client/test/blocs/change_password_bloc_test.dart
  client/test/blocs/diary_bloc_test.dart
  client/test/blocs/food_bloc_test.dart
  client/test/blocs/meal_element_bloc_test.dart
  client/test/blocs/meal_entry_bloc_test.dart
  client/test/blocs/pantry_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/blocs/reset_password_bloc_test.dart
  client/test/blocs/symptom_entry_bloc_test.dart
  client/test/blocs/symptom_type_bloc_test.dart
  client/test/resources/diary_repositories/meal_element_repository_test.dart
  client/test/resources/food/custom_food_repository_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/food/food_service_test.dart
  client/test/resources/pantry_service_test.dart
  client/test/resources/sensitivity/sensitivity_repository_test.dart
  client/test/resources/user_food_details_repository_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Remove unnecessary hides from test imports
  client/test/blocs/food_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Refactor CloudFunctionService to create CloudFunction instances
  client/ios/Podfile.lock
  client/lib/main.dart
  client/lib/resources/firebase/cloud_function_service.dart
  client/lib/resources/firebase/firestore_service.dart
  client/lib/resources/firebase/untyped_data.dart
  client/lib/resources/food/edamam_service.dart
  client/lib/util/version_utils.dart
  client/lib/widgets/authenticated_resources.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/resources/food/edamam_service_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Integrate Authenticator into UserRepository for fewer bloc dependencies
  client/lib/auth/auth.dart
  client/lib/auth/auth_platform.dart
  client/lib/auth/auth_service.dart
  client/lib/blocs/account_delete/account_delete_bloc.dart
  client/lib/blocs/change_password/change_password_bloc.dart
  client/lib/blocs/landing/landing_bloc.dart
  client/lib/blocs/login/login_bloc.dart
  client/lib/blocs/register/register_bloc.dart
  client/lib/pages/account/widgets/account_delete_dialog.dart
  client/lib/resources/user_repository.dart
  client/lib/widgets/app.dart
  client/test/blocs/change_password_bloc_test.dart
  client/test/mocks/mock_firebase_auth.dart
  client/test/resources/user_repository_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update fastlane
  client/ios/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update fastlane plugins
  client/ios/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix unused AuthService dependency in RegisterBloc
  client/lib/blocs/register/register_bloc.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix hidden whitespace issue causing lint errors
  client/lib/blocs/change_password/change_password_state.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Heuristic sensitivity prediction algorithm
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/models/food/custom_food.dart
  client/lib/models/food/edamam_food.dart
  client/lib/models/food_reference/custom_food_reference.dart
  client/lib/models/food_reference/edamam_food_reference.dart
  client/lib/models/food_reference/food_reference.dart
  client/lib/models/sensitivity/sensitivity_level.dart
  client/lib/models/sensitivity/sensitivity_source.dart
  client/lib/pages/diary/widgets/meal_entry_list_tile.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_sensitivity_card.dart
  client/lib/pages/meal_entry/widgets/meal_element_list_tile.dart
  client/lib/pages/search_delegate/widgets/food_search_result_tile.dart
  client/lib/resources/food/custom_food_repository.dart
  client/lib/resources/food/edamam_food_repository.dart
  client/lib/resources/pantry_service.dart
  client/lib/resources/sensitivity/heuristic_sensitivity_prediction_service.dart
  client/lib/resources/sensitivity/models/reaction.dart
  client/lib/resources/sensitivity/models/sensitivity_profile.dart
  client/lib/resources/sensitivity/models/sensitivity_steps.dart
  client/lib/resources/sensitivity/sensitivity_service.dart
  client/lib/util/null_utils.dart
  client/lib/widgets/authenticated_resources.dart
  client/lib/widgets/gl_icons.dart
  client/lib/widgets/list_tiles/pantry_list_tile.dart
  client/lib/widgets/sensitivity_indicator.dart
  client/test/flutter_test_config.dart
  client/test/models/edamam_food_reference_test.dart
  client/test/models/sensitivity_level_test.dart
  client/test/pages/diary_page_test.dart
  client/test/pages/meal_element_entry_page_test.dart
  client/test/pages/meal_entry_page_test.dart
  client/test/resources/food/edamam_food_repository_test.dart
  client/test/resources/sensitivity/heuristic_sensitivity_prediction_service_test.dart
  client/test/resources/sensitivity/sensitivity_steps_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update Gradle, use min Android SDK 21
  client/android/app/build.gradle
  client/android/build.gradle
  client/android/gradle/wrapper/gradle-wrapper.properties
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Allow state changes to be tracked by analytics
  client/analysis_options.yaml
  client/lib/blocs/account/account_event.dart
  client/lib/blocs/bloc_helpers.dart
  client/lib/blocs/bowel_movement_entry/bowel_movement_entry_event.dart
  client/lib/blocs/change_password/change_password_event.dart
  client/lib/blocs/consent/consent_event.dart
  client/lib/blocs/diary/diary_event.dart
  client/lib/blocs/diary_entry/diary_entry_event.dart
  client/lib/blocs/food/food_event.dart
  client/lib/blocs/gut_logic_bloc_observer.dart
  client/lib/blocs/landing/landing_event.dart
  client/lib/blocs/login/login_event.dart
  client/lib/blocs/meal_element/meal_element_event.dart
  client/lib/blocs/meal_entry/meal_entry_event.dart
  client/lib/blocs/pantry/pantry_event.dart
  client/lib/blocs/pantry_entry/pantry_entry_event.dart
  client/lib/blocs/register/register_event.dart
  client/lib/blocs/symptom_entry/symptom_entry_event.dart
  client/lib/blocs/symptom_type/symptom_type_event.dart
  client/lib/blocs/verify_email/verify_email_event.dart
  client/lib/resources/firebase/analytics_service.dart
  client/lib/resources/searchable_repository.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Trademark
  client/ios/fastlane/metadata/en-US/description.txt
  client/lib/pages/search_delegate/food_search_delegate.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Profile icon indicates custom result
  client/lib/pages/search_delegate/widgets/search_result_tile.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Change password responds to state
  client/lib/pages/change_password/change_password_page.dart
  client/lib/pages/change_password/widgets/change_password_form.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Relocate settings
  client/lib/pages/diary/diary_page.dart
  client/lib/pages/main_tabs.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/routes/routes.dart
  client/lib/widgets/icon_buttons/settings_icon_button.dart
  client/test/pages/main_tabs_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Rename GC_KEYS to GOOGLE_APPLICATION_CREDENTIALS
  .gitlab-ci.yml
  server/README.md
Due: server:prep, server:lint, server:test, server:deploy

Fix search delegate tests
  client/test/pages/food_search_delegate_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Clarify add to pantry action
  client/lib/pages/meal_element_entry/widgets/meal_element_sensitivity_card.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Use full node image
  .gitlab-ci.yml
Due: none

Remove alpine-specific command
  .gitlab-ci.yml
Due: none

Development certificates
  client/ios/Gemfile.lock
  client/ios/Podfile.lock
  client/ios/Runner.xcodeproj/project.pbxproj
  client/ios/Runner.xcodeproj/xcshareddata/xcschemes/development.xcscheme
  client/ios/Runner.xcodeproj/xcshareddata/xcschemes/production.xcscheme
  client/ios/fastlane/Fastfile
  client/ios/fastlane/README.md
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Usage guide
  client/assets/auth/apple/apple_logo.svg
  client/assets/auth/apple/apple_logo_dark.svg
  client/assets/auth/google/google_logo.svg
  client/assets/auth/google/google_logo_disabled.svg
  client/assets/consent/consent_image.svg
  client/assets/curved_arrow.svg
  client/lib/pages/diary/diary_page.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/search_delegate/pantry_search_delegate.dart
  client/lib/pages/search_delegate/widgets/food_search_results_list_view.dart
  client/lib/style/gl_text_style.dart
  client/lib/widgets/fab_guide.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/pages/diary_page_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Framed screenshots
  .gitlab-ci.yml
  client/bin/data.dart
  client/bin/screenshots.dart
  client/bin/screenshots/screenshots_emulator_ios.dart
  client/bin/screenshots/screenshots_process.dart
  client/bin/screenshots_config.yaml
  client/bin/screenshots_driver.dart
  client/bin/screenshots_target.dart
  client/ios/.gitignore
  client/ios/Gemfile.lock
  client/ios/fastlane/Fastfile
  client/ios/fastlane/README.md
  client/ios/fastlane/metadata/en-US/keywords.txt
  client/ios/fastlane/screenshots/Framefile.json
  client/ios/fastlane/screenshots/background.png
  client/ios/fastlane/screenshots/en-US/title.strings
  client/ios/fastlane/screenshots/fonts/Quicksand.ttf
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update packages
  client/ios/Gemfile.lock
  server/functions/package-lock.json
  server/functions/package.json
  server/package-lock.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update package file after cleaning
  server/package-lock.json
Due: server:prep, server:lint, server:test, server:deploy

Fix import issues with update_data.js
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Update dependencies, switch engine to Node 16
  server/functions/package-lock.json
  server/functions/package.json
  server/package-lock.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy
