Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

server:prep:
  image: node:16-alpine
  tags:
  - docker
  before_script:
  ...

server:lint:
  image: node:16-alpine
  tags:
  - docker
  before_script:
  ...

server:test:
  image: node:16-alpine
  tags:
  - docker
  before_script:
  ...

server:deploy:
  image: node:16-alpine
  tags:
  - docker
  before_script:
  ...

client:prep:
  image: cirrusci/flutter:2.5.3
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  ...

client:lint:
  image: cirrusci/flutter:2.5.3
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  ...

client:test:
  image: cirrusci/flutter:2.5.3
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  ...

client:build:ios:
  image: cirrusci/flutter:2.5.3
  tags:
  - macos
  before_script:
  - shopt -s expand_aliases
  ...

client:screenshots:
  image: cirrusci/flutter:2.5.3
  tags:
  - macos
  before_script:
  - shopt -s expand_aliases
  ...

client:tag:
  image: cirrusci/flutter:2.5.3
  tags:
  - macos
  before_script:
  - shopt -s expand_aliases
  ...

client:deploy:ios:
  image: cirrusci/flutter:2.5.3
  tags:
  - macos
  before_script:
  - shopt -s expand_aliases
  ...

Change prod email_auth URL, add hosting config
  client/lib/auth/auth_service.dart
  server/.firebaserc
  server/firebase.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add app target for gutlogic-dev
  server/.firebaserc
Due: server:prep, server:lint, server:test, server:deploy

Update server readme
  server/README.md
Due: server:prep, server:lint, server:test, server:deploy

Dairy group
  server/data/irritants.sqlite3
Due: server:prep, server:lint, server:test, server:deploy

Update firebase_dynamic_links, Podfile, Gemfile
  client/ios/Gemfile.lock
  client/ios/Podfile.lock
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add necessary config for custom dynamic link domains
  client/ios/Runner/Info.plist
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update to Flutter 2.10.5
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update dependencies
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update Podfile.lock
  client/ios/Podfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update deprecated url_launcher methods
  client/lib/pages/consent/widgets/consent_header.dart
  client/lib/pages/settings/settings_page.dart
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix v1.2 beta bugs
  client/lib/pages/diary/diary_page.dart
  client/lib/pages/reauthenticate/reauthenticate_page.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Upgrade to Flutter 3, upgrade outdated packages, resolve lints
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/bin/analysis_options.yaml
  client/lib/auth/auth_service.dart
  client/lib/auth/widgets/auth_email_widgets.dart
  client/lib/auth/widgets/auth_provider_widgets.dart
  client/lib/blocs/bloc_helpers.dart
  client/lib/blocs/gut_logic_bloc_observer.dart
  client/lib/main.dart
  client/lib/pages/account/account_page.dart
  client/lib/pages/account/widgets/account_page_widgets.dart
  client/lib/pages/account_delete/account_delete_page.dart
  client/lib/pages/bowel_movement_entry/bowel_movement_entry_page.dart
  client/lib/pages/bowel_movement_entry/widgets/bm_type_card.dart
  client/lib/pages/bowel_movement_entry/widgets/bm_volume_card.dart
  client/lib/pages/consent/widgets/consent_form.dart
  client/lib/pages/main_tabs.dart
  client/lib/pages/meal_element_entry/widgets/unit_dropdown.dart
  client/lib/pages/pantry_entry/widgets/sensitivity_slider_card.dart
  client/lib/pages/profile/widgets/profile_form.dart
  client/lib/pages/register/register_page.dart
  client/lib/pages/search_delegate/widgets/food_search_results_list_view.dart
  client/lib/pages/symptom_entry/symptom_entry_page.dart
  client/lib/pages/symptom_entry/widgets/severity_card.dart
  client/lib/pages/symptom_entry/widgets/severity_slider.dart
  client/lib/util/math.dart
  client/lib/util/result.dart
  client/lib/widgets/app.dart
  client/lib/widgets/buttons/gl_button.dart
  client/lib/widgets/cards/sensitivity_card.dart
  client/lib/widgets/dismissible/delete_dismissible.dart
  client/lib/widgets/fab_guide.dart
  client/lib/widgets/floating_action_buttons/add_floating_action_button.dart
  client/lib/widgets/floating_action_buttons/search_floating_action_button.dart
  client/lib/widgets/gl_slider.dart
  client/lib/widgets/list_tiles/slider_tile.dart
  client/lib/widgets/popup_menu_button/gl_popup_menu_button.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/blocs/bloc_helpers_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Irritant amount indicator
  client/lib/models/irritant/food_irritant_data_api.dart
  client/lib/models/irritant/food_irritants_api.dart
  client/lib/models/serializers.dart
  client/lib/pages/food/widgets/food_list_view.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/pantry_entry/widgets/pantry_entry_list_view.dart
  client/lib/resources/firebase/firestore_service.dart
  client/lib/resources/irritant_repository.dart
  client/lib/util/math.dart
  client/lib/widgets/cards/food_details_card.dart
  client/lib/widgets/cards/irritants_card.dart
  client/test/resources/irritant_repository_test.dart
  client/test/util/math_test.dart
  server/bin/update_data.js
  server/data/irritants.sqlite3
  server/firestore/firestore.rules
  server/package-lock.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update fastlane
  client/ios/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Merge branch 'bugfix/v1.3'
  client/lib/pages/diary/widgets/diary_list_view.dart
  client/lib/widgets/alert_dialogs/gl_alert_dialog.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update to Flutter 3.0.1
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

v1.3 prep
  client/bin/data.dart
  client/bin/flutter_mod.sh
  client/bin/flutter_mod_files/IntegrationTestPlugin.m
  client/bin/screenshots/screenshots_capture.dart
  client/bin/screenshots/screenshots_driver.dart
  client/bin/screenshots/screenshots_handler.dart
  client/bin/screenshots/screenshots_process.dart
  client/bin/screenshots_driver.dart
  client/bin/screenshots_target.dart
  client/ios/Podfile.lock
  client/ios/Runner.xcodeproj/project.pbxproj
  client/ios/Runner/Info.plist
  client/ios/fastlane/metadata/en-US/description.txt
  client/ios/fastlane/metadata/en-US/subtitle.txt
  client/ios/fastlane/metadata/what_to_test.txt
  client/ios/fastlane/screenshots/en-US/title.strings
  client/lib/blocs/food_group/food_group_cubit.dart
  client/lib/pages/diary/widgets/diary_entry_list_tile.dart
  client/lib/pages/diary/widgets/meal_entry_list_tile.dart
  client/lib/resources/irritant_service.dart
  client/lib/widgets/irritant_intensity/irritant_rows.dart
  client/lib/widgets/list_tiles/pantry_list_tile.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/resources/irritant_service_test.dart
  server/bin/update_data.js
  server/data/irritants.sqlite3
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Irritant database clean up
  client/bin/data.dart
  client/lib/blocs/food/food_cubit.dart
  client/lib/blocs/food/food_state.dart
  client/lib/pages/food/food_page.dart
  server/bin/update_data.js
  server/data/irritants.sqlite3
  server/src/firebase_collection.js
  server/src/irritant_db.js
  server/test/irritant_db.js
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix bug with severity slider
  client/lib/pages/symptom_entry/widgets/severity_slider.dart
  client/lib/widgets/severity_indicator.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Make irritant name case sensitive
  server/src/irritant_db.js
Due: server:prep, server:lint, server:test, server:deploy

Fix irritant name case matching
  client/lib/resources/irritant_service.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix irritant service test
  client/test/resources/irritant_service_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Refactor severity indicator
  client/lib/pages/symptom_entry/widgets/severity_slider.dart
  client/lib/style/gl_colors.dart
  client/lib/widgets/severity_indicator.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update deployment instructions
  README.md
Due: none

Update fastlane and review due datefastlane
  client/ios/Gemfile.lock
  client/ios/fastlane/metadata/what_to_test.txt
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Fix issue where irritants are not shown in screenshot
  client/bin/data.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add gcloud authentication
  .gitlab-ci.yml
Due: none

Update credentials
  .gitlab-ci.yml
Due: none

Correct spelling
  .gitlab-ci.yml
Due: none

Remove pantry cloud functions
  server/functions/index.js
  server/functions/src/pantry.js
  server/functions/test/pantry.js
Due: server:prep, server:lint, server:test, server:deploy

API server tests
  .gitlab-ci.yml
  server/api/Dockerfile
  server/api/deno.json
  server/api/imports.json
  server/api/src/edamam/edamam.ts
  server/api/src/main.ts
  server/api/src/resources/auth.ts
  server/api/src/resources/food.ts
  server/api/test/edamam_responses.json
  server/api/test/edamam_test.ts
Due: server:prep, server:lint, server:test, server:deploy

Add prod url
  client/lib/resources/api_service.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Match string in food search suggestions
  client/lib/blocs/food_group_search/food_group_search_cubit.dart
  client/lib/util/fuzzy.dart
  client/test/util/fuzzy_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add remote config to api service
  client/lib/resources/api_service.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Upgrade to flutter 3.0.5
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/bin/flutter_mod.sh
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Version bump
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Path conditions:
  server:prep: any of: server/**/*
  server:lint: any of: server/**/*
  server:test: any of: server/**/*
  server:deploy: any of: server/**/*
  client:prep: any of: client/**/*
  client:lint: any of: client/**/*
  client:test: any of: client/**/*
  client:build:ios: any of: client/**/*
  client:screenshots: any of: client/**/*
  client:tag: any of: client/**/*
  client:deploy:ios: any of: client/**/*
