Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

server:prep:
  image: google/cloud-sdk:latest
  tags:
  - docker
  before_script:
  - apt update
  - curl -sL https://deb.nodesource.com/setup_16.x | bash -
  - apt -y install nodejs unzip
  - node --version
  - cd server
  - npm ci --cache .npm-cache --prefer-offline --log-level error
  ...

server:lint:
  image: google/cloud-sdk:latest
  tags:
  - docker
  before_script:
  - apt update
  - curl -sL https://deb.nodesource.com/setup_16.x | bash -
  - apt -y install nodejs unzip
  - node --version
  - cd server
  - npm ci --cache .npm-cache --prefer-offline --log-level error
  ...

server:test:
  image: google/cloud-sdk:latest
  tags:
  - docker
  before_script:
  - - .server
    - before_script
  - - .firebase
    - before_script
  cache:
    key:
      files:
      - server/package-lock.json
    paths:
    - server/.npm-cache
    policy: pull
  stage: test
  script:
  - npm run test
  - cd api
  - deno test
  dependencies:
  ...

server:deploy:develop:
  image: google/cloud-sdk:latest
  tags:
  - docker
  before_script:
  - - .server
    - before_script
  - - .gcloud
    - before_script
  - - .firebase
    - before_script
  cache:
    key:
      files:
      - server/package-lock.json
    paths:
    - server/.npm-cache
    policy: pull
  stage: deploy
  variables:
  ...

server:deploy:release:
  image: google/cloud-sdk:latest
  tags:
  - docker
  before_script:
  - - .server
    - before_script
  - - .gcloud
    - before_script
  - - .firebase
    - before_script
  cache:
    key:
      files:
      - server/package-lock.json
    paths:
    - server/.npm-cache
    policy: pull
  stage: deploy
  variables:
  ...

client:prep:
  image: cirrusci/flutter:3.0.5
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  - cd client
  - export PUB_CACHE=./.pub-cache
  - if [ -x "$(command -v fvm)" ]; then echo "Using FVM"; fvm install; alias flutter="fvm flutter"; fi;
  - flutter --version
  - flutter pub get
  cache:
    key:
      files:
  ...

client:lint:
  image: cirrusci/flutter:3.0.5
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  - cd client
  - export PUB_CACHE=./.pub-cache
  - if [ -x "$(command -v fvm)" ]; then echo "Using FVM"; fvm install; alias flutter="fvm flutter"; fi;
  - flutter --version
  - flutter pub get
  cache:
    key:
      files:
  ...

client:test:
  image: cirrusci/flutter:3.0.5
  tags:
  - docker
  before_script:
  - shopt -s expand_aliases
  - cd client
  - export PUB_CACHE=./.pub-cache
  - if [ -x "$(command -v fvm)" ]; then echo "Using FVM"; fvm install; alias flutter="fvm flutter"; fi;
  - flutter --version
  - flutter pub get
  cache:
    key:
      files:
  ...

client:build:ios:
  image: cirrusci/flutter:3.0.5
  tags:
  - macos
  before_script:
  - shopt -s expand_aliases
  - cd client
  - export PUB_CACHE=./.pub-cache
  - if [ -x "$(command -v fvm)" ]; then echo "Using FVM"; fvm install; alias flutter="fvm flutter"; fi;
  - flutter --version
  - flutter pub get
  cache:
    key:
      files:
  ...

Prior foods
  client/lib/blocs/recent_foods/recent_foods.dart
  client/lib/blocs/recent_foods/recent_foods_cubit.dart
  client/lib/blocs/recent_foods/recent_foods_state.dart
  client/lib/pages/bowel_movement_entry/bowel_movement_entry_page.dart
  client/lib/pages/meal_entry/widgets/meal_entry_list_view.dart
  client/lib/pages/prior_foods/prior_foods_page.dart
  client/lib/pages/prior_foods/widgets/prior_food_tile.dart
  client/lib/pages/prior_foods/widgets/prior_foods_list_view.dart
  client/lib/pages/search_delegate/food_group_search_delegate.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/search_delegate/symptom_type_search_delegate.dart
  client/lib/pages/search_delegate/widgets/food_reference_suggestion_tile.dart
  client/lib/pages/search_delegate/widgets/food_search_results_list_view.dart
  client/lib/pages/symptom_entry/symptom_entry_page.dart
  client/lib/resources/diary_repositories/diary_repository.dart
  client/lib/routes/routes.dart
  client/lib/widgets/cards/prior_foods_card.dart
  client/lib/widgets/gl_icons.dart
  client/lib/widgets/list_tiles/food_tile.dart
  client/lib/widgets/list_tiles/searchable_tile.dart
  client/test/resources/diary_repositories/diary_repository_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Similar foods
  client/lib/blocs/food_group/food_group_cubit.dart
  client/lib/blocs/food_group_search/food_group_search_cubit.dart
  client/lib/blocs/similar_foods/similar_foods.dart
  client/lib/blocs/similar_foods/similar_foods_cubit.dart
  client/lib/blocs/similar_foods/similar_foods_state.dart
  client/lib/models/irritant/food_irritants_api.dart
  client/lib/pages/food/widgets/food_list_view.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/pantry_entry/widgets/pantry_entry_list_view.dart
  client/lib/pages/similar_foods/similar_foods_page.dart
  client/lib/pages/similar_foods/widgets/similar_food_tile.dart
  client/lib/pages/similar_foods/widgets/similar_foods.dart
  client/lib/pages/similar_foods/widgets/similar_foods_list.dart
  client/lib/resources/irritant_service.dart
  client/lib/routes/routes.dart
  client/lib/util/math.dart
  client/lib/widgets/cards/similar_foods_card.dart
  client/test/resources/irritant_service_test.dart
  server/data/irritants.sqlite3
  server/src/irritant_db.js
  server/test/irritant_db.js
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Release/1.3.2
  .gitlab-ci.yml
  client/ios/fastlane/metadata/en-US/release_notes.txt
  client/ios/fastlane/metadata/what_to_test.txt
  client/lib/blocs/foods_suggestion/foods_suggestion_cubit.dart
  client/lib/blocs/foods_suggestion/recent_foods_cubit.dart
  client/lib/pages/browse/browse_page.dart
  client/lib/pages/food_group/food_group_page.dart
  client/lib/pages/meal_entry/widgets/meal_entry_list_view.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/pages/search_delegate/food_group_search_delegate.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/symptom_entry/widgets/severity_slider.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/pages/food_search_delegate_test.dart
  server/api/src/main.ts
  server/api/src/resources/food.ts
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Convert Firebase Functions to Typescript
  .gitlab-ci.yml
  server/functions/.gitignore
  server/functions/package.json
  server/functions/src/auth.ts
  server/functions/src/food.ts
  server/functions/src/index.ts
  server/functions/test/food.js
  server/functions/tsconfig.dev.json
  server/functions/tsconfig.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Remove ts linting
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Use local tsc
  .gitlab-ci.yml
  server/functions/package-lock.json
  server/functions/package.json
  server/package-lock.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Add logger to API server
  server/api/src/edamam/edamam.ts
  server/api/src/resources/auth.ts
  server/api/src/resources/food.ts
  server/api/src/resources/logger.ts
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Split ci files
  .gitlab-ci.yml
  .gitlab/ci/api.gitlab-ci.yml
  .gitlab/ci/client.gitlab-ci.yml
  .gitlab/ci/firebase.gitlab-ci.yml
Due: none

Make bloc and cubit members public
  client/lib/blocs/account_create/account_create_cubit.dart
  client/lib/blocs/account_delete/account_delete_cubit.dart
  client/lib/blocs/consent/consent_cubit.dart
  client/lib/blocs/login/login_cubit.dart
  client/lib/blocs/profile/profile_cubit.dart
  client/lib/blocs/reauthenticate/reauthenticate_cubit.dart
  client/lib/blocs/register/register_cubit.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Screenshots error exit code
  client/bin/screenshots.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Add svgo placeholder
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Build once in pipeline
  .gitlab/ci/client.gitlab-ci.yml
  client/ios/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Update build dependencies
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Add bundle to cache
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Cache vendor dir
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Key gems separately
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Fix bundle path
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Joint caching
  .gitlab/ci/client.gitlab-ci.yml
Due: none

DEBUG: archive all
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Push build cache
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Move bundle install back to build job
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Flavored app icon
  client/assets/app_icon/green_background.png
  client/assets/app_icon/logo_android_green.png
  client/assets/app_icon/logo_android_white.png
  client/assets/app_icon/logo_white.png
  client/flutter_launcher_icons-development.yaml
  client/flutter_launcher_icons-production.yaml
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Install fastlane to deploy
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Remove excess increment build number
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Correctly install gems
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Move where gc_keys is copied
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Fix directory
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Move to ios folder to increment build
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Update fastlane
  client/ios/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Remove unnecessary path changes
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Archive build
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Use build ipa
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Remove no-codesign flag
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Fix flavored icons for iOS
  client/.gitignore
  client/ios/Runner.xcodeproj/project.pbxproj
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  client/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Convert to Express server
  .gitlab/ci/api.gitlab-ci.yml
  .vscode/launch.json
  server/.gitignore
  server/api/.gitignore
  server/api/Dockerfile
  server/api/dev/auth_fail.hurl
  server/api/dev/food_get.hurl
  server/api/dev/food_search.hurl
  server/api/dev/status.hurl
  server/api/package-lock.json
  server/api/package.json
  server/api/src/edamam/edamam.ts
  server/api/src/main.ts
  server/api/src/resources/auth.ts
  server/api/src/resources/food.ts
  server/api/src/resources/status.ts
  server/api/tsconfig.json
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Add IAP server functionality
  server/api/.gitignore
  server/api/dev/app_store.hurl
  server/api/dev/trigger_test_notification.ts
  server/api/package-lock.json
  server/api/package.json
  server/api/src/app-store-server-api/AppleRootCertificate.ts
  server/api/src/app-store-server-api/Decoding.ts
  server/api/src/app-store-server-api/Errors.ts
  server/api/src/app-store-server-api/LICENSE
  server/api/src/app-store-server-api/Models.ts
  server/api/src/edamam/edamam.ts
  server/api/src/iap/app-store.purchase-handler.ts
  server/api/src/iap/iap.repository.ts
  server/api/src/iap/index.ts
  server/api/src/iap/license
  server/api/src/iap/products.ts
  server/api/src/iap/purchase-handler.ts
  server/api/src/main.ts
  server/api/src/resources/auth.ts
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Improve app store notification handling
  server/api/package-lock.json
  server/api/package.json
  server/api/src/iap/app-store.purchase-handler.ts
  server/api/src/resources/logger.ts
  server/api/test/app-store.purchase-handler_test.ts
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Bind class methods to this
  server/api/src/iap/app-store.purchase-handler.ts
Due: server:prep, server:lint, server:test, server:deploy:develop, server:deploy:release

Path conditions:
  server:prep: any of: server/**/*
  server:lint: any of: server/**/*
  server:test: any of: server/**/*
  server:deploy:develop: any of: server/**/*
  server:deploy:release: any of: server/**/*
  client:prep: any of: client/**/*
  client:lint: any of: client/**/*
  client:test: any of: client/**/*
  client:build:ios: any of: client/**/*
  client:screenshots: any of: client/**/*
  client:deploy:develop:ios: any of: client/**/*
