Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Path conditions:
  server:prep: any of: server/**/*
  server:lint: any of: server/**/*
  server:test: any of: server/**/*
  server:deploy: any of: server/**/*
  client:prep: any of: client/**/*
  client:lint: any of: client/**/*
  client:test: any of: client/**/*
  client:build:ios: any of: client/**/*
  client:screenshots: any of: client/**/*
  client:tag: any of: client/**/*
  client:deploy:ios: any of: client/**/*

Update pipeline container to Node 16
  .gitlab-ci.yml
Due: none

Fix credential loading
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Fix stray semicolon
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Increase the ava test timeout to work around slow emulator startup
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy

Reuse GOOGLE_APPLICATION_CREDENTIALS env var for updata_data
  .gitlab-ci.yml
  server/bin/update_data.js
  server/functions/test/_helpers.js
  server/functions/test/fft.js
  server/functions/test/food.test.js
  server/functions/test/pantry.test.js
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy

Export initialized fft as default export
  server/functions/test/fft.js
Due: server:prep, server:lint, server:test, server:deploy

Fix fft.js being included in tests
  server/functions/test/fft.js
  server/functions/test/food.js
  server/functions/test/helpers/index.js
  server/functions/test/pantry.js
Due: server:prep, server:lint, server:test, server:deploy

Use .firestore (Cloud Firestore) instead of .database (Realtime Database)
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Update Gemfile.lock
  client/ios/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Use consistent whitespace/newlines in Fastfile
  client/ios/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add setup_ci to Fastfile
  client/ios/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Pull app_store_connect_api_key config from env
  client/ios/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Provide CloudFunctionService
  client/lib/widgets/authenticated_resources.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Only show irritants with nonzero concentration
  client/lib/widgets/cards/food_details_card.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Migrate to flutter_bloc 7.2
  client/lib/blocs/bloc_helpers.dart
  client/lib/blocs/bowel_movement_entry/bowel_movement_entry_bloc.dart
  client/lib/blocs/bowel_movement_entry/bowel_movement_entry_event.dart
  client/lib/blocs/consent/consent_state.dart
  client/lib/blocs/diary/diary_bloc.dart
  client/lib/blocs/diary_entry/diary_entry_bloc_helpers.dart
  client/lib/blocs/diary_entry/diary_entry_event.dart
  client/lib/blocs/food_search/food_search_bloc.dart
  client/lib/blocs/food_search/food_search_event.dart
  client/lib/blocs/meal_element/meal_element_bloc.dart
  client/lib/blocs/meal_element/meal_element_event.dart
  client/lib/blocs/meal_entry/meal_entry_bloc.dart
  client/lib/blocs/meal_entry/meal_entry_event.dart
  client/lib/blocs/pantry/pantry_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_bloc.dart
  client/lib/blocs/pantry_entry/pantry_entry_event.dart
  client/lib/blocs/pantry_filter/pantry_filter_cubit.dart
  client/lib/blocs/pantry_sort/pantry_sort_cubit.dart
  client/lib/blocs/symptom_entry/symptom_entry_bloc.dart
  client/lib/blocs/symptom_entry/symptom_entry_event.dart
  client/lib/blocs/symptom_type/symptom_type_bloc.dart
  client/lib/main.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/resources/diary_repositories/bowel_movement_entry_repository.dart
  client/lib/resources/diary_repositories/diary_repository.dart
  client/lib/resources/diary_repositories/diary_repository_helpers.dart
  client/lib/resources/diary_repositories/meal_entry_repository.dart
  client/lib/resources/diary_repositories/symptom_entry_repository.dart
  client/lib/widgets/authenticated_resources.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/blocs/bloc_helpers_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Add bug report template
  .gitlab/issue_templates/bug.md
Due: none

Revert 2.10 changes to Android SDK version
  client/android/app/build.gradle
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Remove provider from AuthCredential, derive from credential
  client/lib/auth/auth_data.dart
  client/lib/auth/services/auth_apple.dart
  client/lib/auth/services/auth_email.dart
  client/lib/auth/services/auth_google.dart
  client/lib/resources/user_repository.dart
  client/test/mocks/mock_firebase_auth.dart
  client/test/resources/user_repository_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

v1.2 release candidate
  client/ios/fastlane/metadata/copyright.txt
  client/ios/fastlane/metadata/what_to_test.txt
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update client packages
  client/lib/main.dart
  client/lib/resources/firebase/analytics_service.dart
  client/lib/resources/firebase/remote_config_service.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/blocs/bowel_movement_entry_bloc_test.dart
  client/test/blocs/diary_bloc_test.dart
  client/test/blocs/food_search_bloc_test.dart
  client/test/blocs/meal_element_bloc_test.dart
  client/test/blocs/meal_entry_bloc_test.dart
  client/test/blocs/pantry_entry_bloc_test.dart
  client/test/blocs/symptom_entry_bloc_test.dart
  client/test/blocs/symptom_type_bloc_test.dart
  client/test/flutter_test_config.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update to Flutter 2.10.4
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Revert "Update to Flutter 2.10.4" (cirrusci has not published an image)
  .gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

SQLite
  .gitattributes
  hooks/post-checkout
  hooks/post-commit
  hooks/post-merge
  hooks/pre-push
  server/bin/update_data.js
  server/data/food_groups.json
  server/data/irritants.json
  server/data/irritants.sqlite3
  server/package-lock.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy

Update prod config for email auth link
  client/lib/auth/auth_service.dart
  server/firebase.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Resolve db name conflict
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Remove hosting config from firebase.json as it conflicts with website
  server/firebase.json
Due: server:prep, server:lint, server:test, server:deploy

Improved irritants
  server/bin/update_data.js
  server/data/irritants.sqlite3
Due: server:prep, server:lint, server:test, server:deploy

Recent Food Suggestions
  client/lib/blocs/meal_entry/meal_entry_bloc.dart
  client/lib/blocs/meal_entry/meal_entry_event.dart
  client/lib/blocs/recent_foods/recent_foods.dart
  client/lib/blocs/recent_foods/recent_foods_cubit.dart
  client/lib/blocs/recent_foods/recent_foods_state.dart
  client/lib/pages/browse/browse_page.dart
  client/lib/pages/meal_entry/widgets/meal_entry_list_view.dart
  client/lib/pages/pantry/pantry_page.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/search_delegate/widgets/food_reference_suggestion_tile.dart
  client/lib/resources/diary_repositories/diary_repository.dart
  client/lib/resources/diary_repositories/meal_element_repository.dart
  client/lib/resources/diary_repositories/meal_entry_repository.dart
  client/lib/widgets/authenticated_resources.dart
  client/test/blocs/meal_entry_bloc_test.dart
  client/test/flutter_test_config.dart
  client/test/pages/food_search_delegate_test.dart
  client/test/pages/meal_entry_page_test.dart
  client/test/resources/diary_repositories/diary_repository_test.dart
  client/test/resources/diary_repositories/meal_element_repository_test.dart
  client/test/resources/diary_repositories/meal_entry_repository_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Cherrypick release/1.2 changes, improve update_data script
  .gitlab-ci.yml
  client/ios/Gemfile.lock
  client/ios/Runner/Runner-production.entitlements
  server/bin/update_data.js
  server/package-lock.json
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Update ecmaVersion in eslint config, disambiguate null coalescing
  server/.eslintrc.json
  server/bin/update_data.js
Due: server:prep, server:lint, server:test, server:deploy

Fix dependencies in deploy jobs
  .gitlab-ci.yml
Due: none

Use release subbranches, manual job to promote from staging to release
  .gitlab-ci.yml
Due: none

Remove client:tag job
  .gitlab-ci.yml
Due: none

Update client/server files to trigger deployments
  client/README.md
  server/package.json
Due: server:prep, server:lint, server:test, server:deploy, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:tag, client:deploy:ios

Remove the client:build:ios job from commits with TODO
  .gitlab-ci.yml
Due: none

Remove compliance job since we always create manual jobs
  .gitlab-ci.yml
Due: none

Move default variables to top, override Firebase project in rules
  .gitlab-ci.yml
Due: none

Fix .client:deploy:ios extends parent
  .gitlab-ci.yml
Due: none

Put channel before platform on client deploy job names
  .gitlab-ci.yml
Due: none
