Repository mentoc3000/gutlogic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios, firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Path conditions:
  api:prep: any of: server/api/**/*, .gitlab/ci/api.gitlab-ci.yml, .gitlab-ci.yml
  api:lint: any of: server/api/**/*, .gitlab/ci/api.gitlab-ci.yml, .gitlab-ci.yml
  api:test: any of: server/api/**/*, .gitlab/ci/api.gitlab-ci.yml, .gitlab-ci.yml
  api:deploy:develop: any of: server/api/**/*, .gitlab/ci/api.gitlab-ci.yml, .gitlab-ci.yml
  api:deploy:release: any of: server/api/**/*, .gitlab/ci/api.gitlab-ci.yml, .gitlab-ci.yml
  client:prep: any of: client/**/*
  client:lint: any of: client/**/*
  client:test: any of: client/**/*
  client:build:ios: any of: client/**/*
  client:screenshots: any of: client/**/*
  client:deploy:develop:ios: any of: client/**/*
  firebase:prep: any of: server/firebase/**/*, firebase.gitlab-ci.yml, .gitlab-ci.yml
  firebase:lint: any of: server/firebase/**/*, firebase.gitlab-ci.yml, .gitlab-ci.yml
  firebase:test: any of: server/firebase/**/*, firebase.gitlab-ci.yml, .gitlab-ci.yml
  firebase:deploy:develop: any of: server/firebase/**/*, firebase.gitlab-ci.yml, .gitlab-ci.yml
  firebase:deploy:release: any of: server/firebase/**/*, firebase.gitlab-ci.yml, .gitlab-ci.yml

Fix some issues with irritant db and parsing
  server/api/data/irritants.sqlite3
  server/api/src/resources/ingredients.ts
  server/api/test/ingredients_test.ts
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release

Feature/v1.6 prep
  client/bin/data.dart
  client/bin/screenshots_target.dart
  client/ios/fastlane/metadata/en-US/description.txt
  client/ios/fastlane/metadata/what_to_test.txt
  client/ios/fastlane/screenshots/en-US/title.strings
  client/pubspec.yaml
  server/api/data/irritants.sqlite3
  server/api/src/resources/ingredients.ts
  server/api/test/ingredients_test.ts
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Show warning for nested ingredients
  client/lib/pages/ingredients/widgets/ingredient_tile.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Check for empty ingredients list
  server/api/src/resources/ingredients.ts
  server/api/src/resources/irritant_db.ts
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release

Print more detailed error log
  server/api/src/edamam/edamam.ts
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release

Only open db once
  server/api/src/resources/irritant_db.ts
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release

Update copyright.txt
  client/ios/fastlane/metadata/copyright.txt
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Feature/1.6.0
  client/ios/Gemfile.lock
  client/lib/blocs/upc/upc_cubit.dart
  client/lib/pages/barcode_scan/widgets/barcode_scan_view.dart
  client/lib/pages/barcode_scan/widgets/scanner_error_display.dart
  client/lib/widgets/gl_icons.dart
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Bugfix/setup ci
  client/ios/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Update dependencies
  .gitlab/ci/client.gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/ios/Gemfile.lock
  client/ios/MLKitCommon.podspec.json
  client/ios/MLKitVision.podspec.json
  client/ios/Podfile
  client/ios/Podfile.lock
  client/ios/Runner/Info.plist
  client/lib/main.dart
  client/lib/pages/analysis/widgets/food_count_by_irritant_card.dart
  client/lib/pages/analysis/widgets/recent_severity_card.dart
  client/lib/pages/analysis/widgets/symptom_type_count.dart
  client/lib/resources/pantry_service.dart
  client/lib/style/gl_theme.dart
  client/lib/widgets/fab_guide.dart
  client/lib/widgets/gl_widget_config.dart
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Request reviews
  client/lib/pages/main_tabs.dart
  client/lib/resources/app_review.dart
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Improve DateTime picker
  client/lib/pages/diary/widgets/diary_entry_list_tile.dart
  client/lib/widgets/cards/datetime_card.dart
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

List foods with irritant by sensitivity
  .gitlab/ci/client.gitlab-ci.yml
  client/lib/blocs/foods_with_irritant/foods_with_irritant.dart
  client/lib/blocs/foods_with_irritant/foods_with_irritant_cubit.dart
  client/lib/blocs/foods_with_irritant/foods_with_irritant_state.dart
  client/lib/pages/analysis/widgets/analysis_content_card.dart
  client/lib/pages/analysis/widgets/analysis_list_view.dart
  client/lib/pages/analysis/widgets/analysis_section.dart
  client/lib/pages/analysis/widgets/diary_streak_section.dart
  client/lib/pages/analysis/widgets/food_count_by_irritant_section.dart
  client/lib/pages/analysis/widgets/recent_severity_section.dart
  client/lib/pages/analysis/widgets/symptom_type_section.dart
  client/lib/pages/food_group/widgets/food_group_entry_tile.dart
  client/lib/pages/food_group/widgets/food_group_list.dart
  client/lib/pages/foods_with_irritant/foods_with_irritant_page.dart
  client/lib/pages/foods_with_irritant/widgets/foods_at_sensitivity_level_card.dart
  client/lib/pages/foods_with_irritant/widgets/foods_with_irritant_list_view.dart
  client/lib/pages/foods_with_irritant/widgets/no_foods_with_irritant.dart
  client/lib/pages/search_delegate/food_group_search_delegate.dart
  client/lib/pages/search_delegate/food_search_delegate.dart
  client/lib/pages/search_delegate/widgets/food_search_results_list_view.dart
  client/lib/resources/analysis_service.dart
  client/lib/routes/routes.dart
  client/lib/widgets/cards/expansion_card.dart
  client/lib/widgets/irritant_intensity/intensity_indicator.dart
  client/lib/widgets/list_tiles/food_search_result_tile.dart
  client/lib/widgets/list_tiles/food_tile.dart
  client/lib/widgets/sensitivity_level_pie_chart.dart
  client/lib/widgets/severity_indicator.dart
  client/pubspec.lock
  client/pubspec.yaml
  client/test/flutter_test_config.dart
  client/test/pages/main_tabs_test.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Fix dart linter options
  .gitlab/ci/client.gitlab-ci.yml
Due: none

v1.7.0 preparation
  client/ios/fastlane/metadata/en-US/release_notes.txt
  client/ios/fastlane/metadata/what_to_test.txt
  client/lib/pages/analysis/widgets/recent_severity_section.dart
  client/lib/widgets/cards/datetime_card.dart
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Fix aspect ratio
  client/ios/Podfile.lock
  client/lib/pages/analysis/widgets/recent_severity_section.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Ensure faces are always shown
  client/lib/pages/analysis/widgets/recent_severity_section.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Android screenshots
  .vscode/tasks.json
  client/android/.gitignore
  client/android/app/build.gradle
  client/android/app/src/main/AndroidManifest.xml
  client/bin/flutter_mod.sh
  client/bin/screenshots.dart
  client/bin/screenshots/README.md
  client/bin/screenshots/screenshots_emulator_android.dart
  client/bin/screenshots/screenshots_process.dart
  client/bin/screenshots_config.yaml
  client/bin/screenshots_target.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Android fastlane
  .gitlab/ci/client.gitlab-ci.yml
  .vscode/tasks.json
  client/README.md
  client/android/.gitignore
  client/android/Gemfile
  client/android/Gemfile.lock
  client/android/fastlane/Appfile
  client/android/fastlane/Fastfile
  client/android/fastlane/README.md
  client/android/fastlane/metadata/android/Framefile.json
  client/android/fastlane/metadata/android/background.png
  client/android/fastlane/metadata/android/en-US/full_description.txt
  client/android/fastlane/metadata/android/en-US/images/title.strings
  client/android/fastlane/metadata/android/en-US/short_description.txt
  client/android/fastlane/metadata/android/en-US/title.txt
  client/android/fastlane/metadata/android/en-US/video.txt
  client/android/fastlane/metadata/android/fonts/Quicksand.ttf
  client/bin/screenshots.dart
  client/bin/screenshots/screenshots_capture.dart
  client/bin/screenshots/screenshots_config.dart
  client/bin/screenshots/screenshots_emulator_android.dart
  client/bin/screenshots/screenshots_postprocessing.dart
  client/bin/screenshots/screenshots_process.dart
  client/bin/screenshots_config.yaml
  client/ios/fastlane/metadata/en-US/privacy_url.txt
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

v1.7.0
  client/ios/Gemfile.lock
  server/api/data/irritants.sqlite3
Due: api:prep, api:lint, api:test, api:deploy:develop, api:deploy:release, client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Fix android dev deploy
  .gitlab/ci/client.gitlab-ci.yml
  client/android/Gemfile.lock
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Force rm
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Move to correct directory
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Hide similar foods for zero concentration
  client/lib/pages/food/widgets/food_list_view.dart
  client/lib/pages/meal_element_entry/widgets/meal_element_entry_list_view.dart
  client/lib/pages/pantry_entry/widgets/pantry_entry_list_view.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Flutter 3.7.10
  .gitlab/ci/client.gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/bin/flutter_mod.sh
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Google Play IAP backend
  .gitlab/ci/firebase.gitlab-ci.yml
  client/ios/Podfile.lock
  client/lib/pages/subscribe/widgets/purchase_interface.dart
  client/lib/resources/iap_service.dart
  server/firebase/functions/.eslintrc.json
  server/firebase/functions/.gitignore
  server/firebase/functions/package-lock.json
  server/firebase/functions/package.json
  server/firebase/functions/src/iap/google-play.purchase-handler.ts
  server/firebase/functions/src/iap/iap.repository.ts
  server/firebase/functions/src/iap/index.ts
  server/firebase/functions/src/iap/license
  server/firebase/functions/src/iap/products.ts
  server/firebase/functions/src/iap/purchase-handler.ts
  server/firebase/functions/src/index.ts
  server/firebase/functions/tsconfig.json
  server/firebase/package-lock.json
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios, firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Remove cloud region
  server/firebase/functions/src/index.ts
Due: firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Remove draft for dev release
  client/android/fastlane/Fastfile
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Update product name
  server/firebase/functions/src/iap/products.ts
Due: firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Use package name
  server/firebase/functions/src/iap/google-play.purchase-handler.ts
Due: firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Version bump 1.7.1
  .gitlab/ci/client.gitlab-ci.yml
  client/ios/fastlane/metadata/en-US/release_notes.txt
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Create directory before copying
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Fix path
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Add keys for screenshots
  .gitlab/ci/client.gitlab-ci.yml
Due: none

Upgrade flutter to 3.7.12
  .gitlab/ci/client.gitlab-ci.yml
  client/.fvm/fvm_config.json
  client/bin/flutter_mod.sh
  client/pubspec.lock
  client/pubspec.yaml
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Update gradle
  client/android/build.gradle
  client/android/gradle/wrapper/gradle-wrapper.properties
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios

Separate firebase tests
  .gitlab/ci/firebase.gitlab-ci.yml
  server/firebase/firestore/test/firestore.test.js
  server/firebase/functions/package-lock.json
  server/firebase/functions/package.json
  server/firebase/package.json
Due: firebase:prep, firebase:lint, firebase:test, firebase:deploy:develop, firebase:deploy:release

Fix cache dir
  server/functions/firebase.json
Due: none

v1.7.1 fixes
  .gitlab/ci/client.gitlab-ci.yml
  client/android/app/src/main/AndroidManifest.xml
  client/bin/data.dart
  client/ios/fastlane/metadata/en-US/privacy_url.txt
  client/lib/pages/consent/widgets/consent_header.dart
  client/lib/resources/legal_service.dart
  client/lib/widgets/cards/datetime_card.dart
  client/lib/widgets/gl_icons.dart
Due: client:prep, client:lint, client:test, client:build:ios, client:screenshots, client:deploy:develop:ios
